<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}
.flash {
	background-color: lightgreen;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}

.closebtn {
  cursor: pointer;
}

.active_link {
  background: crimson !important;
  color: white;

}

</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">


<!-- nav start -->
<div id="id01" class="w3-modal">
	<div class="w3-modal-content">
		<br /><br />
		<div class="w3-container" >
			<p>Advanced Search You Do not need reload or button<br/> Like google and better google has button</p>
				<input type="text" placeholder="Search.." name="search_ajax" id="search_ajax_input" style="width:80% !important;" >

		</div>
		<div class="w3-container">
			<span id="close_btn1"  class="w3-button w3-display-topright">&times;</span>
			<div id="search_result">
				<br /><br />
		</div>
		</div>
	</div>
</div>

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
<a href="/" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
<a href="/bandlist" class="w3-bar-item w3-button"><i class="fa fa-list"></i> Band List</a>
<a href="/band_list/page/1" class="w3-bar-item w3-button"><i class="fa fa-list"></i> Advanced Band List</a>
<a href="/event_list/page/1" class="w3-bar-item w3-button"><i class="fa fa-music"></i> Event List</a>
<a href="#" class="w3-bar-item w3-button w3-right">

	<!-- start of search -->
<div class="search-container">
	<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Search</button>
</div>

<!-- end of search -->


</a>

</div>

<!-- endnav -->

<!-- server messages -->
<div class = 'flash'>
					{% with messages = get_flashed_messages() %}
			{% if messages %}

				<ul>
				{% for message in messages %}
						<li class="alert alert-info">
						<strong> {{ message }} </strong>
						<span class="closebtn" >&times;</span>
						</li>
				{% endfor %}
				</ul>
				{% endif %}
		{% endwith %}


<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
	close[i].onclick = function(){
		var div = this.parentElement;
		div.style.opacity = "0";
		setTimeout(function(){ div.style.display = "none"; }, 600);
	}
}
</script>
</div>





<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

    {% if bands %}
  <!-- Photo grid -->
  <div class="w3-row">

		<!-- Pagination -->
	  <div class="w3-center w3-padding-32">
	    <div class="w3-bar">
	      {% if pag %}
	      {% if pag.pages_number > 10 %}
	      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
	      {% endif %}
	      {% for pag_link in range(pag.pages_number) %}

	      <a href="/band_list/page/{{pag_link + 1}}" class="w3-bar-item w3-black w3-button {% if current_page == pag_link + 1 %}active_link{% endif %}">{{pag_link + 1}}</a>

	      {% endfor %}
	      {% if pag.pages_number > 10 %}
	      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
	      {% endif %}
	      {% endif %}
	    </div>
	  </div>

	<!-- end Pagination -->


    {% for band in bands %}
    <div class="w3-third">
      <a href="{{url_for('single_band', band_id = band.id) }}">
        <img src="{{band.main_image}}" style="width:100%" alt="A boy surrounded by beautiful nature">
      </a>
    </div>
    {% endfor %}


  </div>
 {% endif %}
  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      {% if pag %}
      {% if pag.pages_number > 10 %}
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      {% endif %}
      {% for pag_link in range(pag.pages_number) %}

      <a href="/band_list/page/{{pag_link + 1}}" class="w3-bar-item w3-black w3-button {% if current_page == pag_link + 1 %}active_link{% endif %}">{{pag_link + 1}}</a>

      {% endfor %}
      {% if pag.pages_number > 10 %}
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      {% endif %}
      {% endif %}
    </div>
  </div>

<!-- end Pagination -->
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>




<!-- End page content -->
</div>

<script src="/static/band_list.js"></script>


</body>
</html>
