<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/add_band.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

  <!-- nav start -->
  <div id="id01" class="w3-modal">
  	<div class="w3-modal-content">
  		<br /><br />
  		<div class="w3-container" >
  			<p>Advanced Search You Do not need reload or button Like google and better google has button</p>
  				<input type="text" placeholder="Search.." name="search_ajax" id="search_ajax_input" style="width:80% !important;" >

  		</div>
  		<div class="w3-container">
  			<span id="close_btn1"  class="w3-button w3-display-topright">&times;</span>
  			<div id="search_result">
  				<br /><br />
  		</div>
  		</div>
  	</div>
  </div>

  <!-- Navigation bar with social media icons -->
  <div class="w3-bar w3-black w3-hide-small">
  <a href="/" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
  <a href="/bandlist" class="w3-bar-item w3-button"><i class="fa fa-list"></i> Band List</a>
  <a href="/band_list/page/1" class="w3-bar-item w3-button"><i class="fa fa-list"></i> Advanced Band List</a>
  <a href="/event_list/page/1" class="w3-bar-item w3-button"><i class="fa fa-music"></i> Event List</a>
  <a href="/golden_arrow" class="w3-bar-item w3-button"><i class="fas fa-chess-knight"></i> Golden Arrow  (Advanced_game)</a>
  <a href="#" class="w3-bar-item w3-button w3-right">

  	<!-- start of search -->
  <div class="search-container">
  	<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Search</button>
  </div>

  <!-- end of search -->


  </a>

  </div>

  <!-- endnav -->

  <div class = 'flash' style="height:35px">
  		      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li class="alert alert-info">
              <strong> {{ message }} </strong>
              <span class="closebtn" >&times;</span>
              </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}


  <script>
  var close = document.getElementsByClassName("closebtn");
  var i;

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function(){
      var div = this.parentElement;
      div.style.opacity = "0";
      setTimeout(function(){ div.style.display = "none"; }, 600);
    }
  }
  </script>
  </div>


<h2>ADD Your Band</h2>
<p>Please Add All the Data To Help Us Keep The Website good and look good</p>

<div class="container">
  <form action="/add_band" method="POST" enctype="multipart/form-data">

    <div class="row">
      <div class="col-25">
        <label for="name">Band Name</label>
      </div>
      <div class="col-75">
        <input type="text" name="name" placeholder="Your name.." required="required">
      </div>
    </div>


    <div class="row">
      <div class="col-25">
        <label for="title">Band Title</label>
      </div>
      <div class="col-75">
        <input type="text" name="title" placeholder="Your name.." required="required">
      </div>
    </div>


    <div class="row">
      <div class="col-25">
        <label for="main_image">Band Main Image</label>
      </div>
      <div class="col-75">
        <input type="file" name="main_image" required="required">
      </div>
    </div>



    <div class="row">
      <div class="col-25">
        <label for="image1">Band Image1 (optional)</label>
      </div>
      <div class="col-75">
        <input type="file" name="image1" required="required">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="image2">Band Image2 (optional)</label>
      </div>
      <div class="col-75">
        <input type="file" name="image2" required="required">
      </div>
    </div>

    <br /><hr />

    <div class="row">
      <div class="col-25">
        <label for="lname">Band Member1 Name</label>
      </div>

      <div class="col-75">
        <input type="text" name="band_member_name1" placeholder="Member 1 Name.." required="required">
        <br /><br />
        <label for="band_member_image1">Member 1 image:</label>
        <input type="file" name="band_member_image1" required="required">
        <br /><br />
      </div>
      </div>

    <div class="row">
      <div class="col-25">
        <label for="lname">Band Member2 Name</label>
      </div>
      <div class="col-75">
        <input type="text" name="band_member_name2" placeholder="Member 2 Name..">
        <br /><br />
         <label for="band_member_image2">Member 2 image:</label>
        <input type="file" name="band_member_image2" required="required">
        <br /><br />
      </div>
      </div>

    <div class="row">
      <div class="col-25">
        <label for="lname">Band Member3 Name</label>
      </div>
      <div class="col-75">
        <input type="text" name="band_member_name3" placeholder="Member 3 Name..">
        <br /><br />
        <label for="band_member_image3">Member 3 image:</label>
        <input type="file" name="band_member_image3" placeholder="Your last name.." required="required">
        <br /><br />
      </div>

     <br /><hr />

    </div>
    <h2>Content Info </h2>
    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75"><input type="email" name="email" placeholder="Your last name.." required="required"></div>
    </div>

     <div class="row">
      <div class="col-25">
        <label for="mobile">Mobile</label>
      </div>
      <div class="col-75"><input type="text" name="mobile" placeholder="Enter your Band Mobile" required="required"></div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="full_desc">Full description</label>
      </div>
      <div class="col-75">
        <textarea id="description_input" name="full_desc" placeholder="Write something.." style="height:200px" required="required"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Commit Band">
    </div>
  </form>
</div>
<script src="/static/add.js"></script>
</body>
</html>
